<footer id="footer">
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-12">
                <img class="footer-logo" src="Images/SG LOGO.png" alt="Logo" />
            </div>

        </div>
        <div class="row footer-list-container">
            <div class="col-md-3 offset-lg-1 footer-list">
                <h6>Hello there!</h6>
                <p>
                    Want to get in Touch? We'd Love to hear from you. Here's how you
                    can reach us.
                </p>
            </div>
            <div class="col-md-5 offset-lg-1 footer-list">
                <h6>Contact</h6>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt"></i>
                        Thalavoor, Kollam
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;Kerala, India</li>
                    <li>
                        <a href="tel:+917356860423"><i class="bi bi-phone"></i> +91 7356860423</a>
                    </li>
                    <li>
                        <a href="mailto:stgeorgemelodiesandmedia@gmail.com">
                            <i class="bi bi-envelope"></i> stgeorgemelodiesandmedia&#64;gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 footer-list">
                <h6>Services</h6>
                <ul>
                    <li><a href="https://youtube.com/@sgmediahd?si=lKCqQasSssNZl46C" target="_blank">Live
                            Streaming</a></li>
                    <li><a href="">SG Sounds</a></li>
                    <li>
                        <a href="https://jtjcreations.netlify.app/" target="_blank">Photography</a>
                    </li>
                    <li><a href="https://jtjcreations.netlify.app/" target="_blank">Editing</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer-icons-container">
                <span>Stay Connected</span>
                <a href="https://www.instagram.com/sgproevents/" target="_blank" class="footer-icons"><i
                        class="bi bi-instagram"></i></a>
                <a href="https://youtube.com/@sgmediahd?si=lKCqQasSssNZl46C" target="_blank" class="footer-icons"><i
                        class="bi bi-youtube"></i></a>
                <a href="https://www.facebook.com/stgeorgemelodiesandmedia" class="footer-icons" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="mailto:stgeorgemelodiesandmedia@gmail.com" class="footer-icons"><i
                        class="bi bi-envelope"></i></a>
                <a routerLink="/" class="footer-icons"><i class="bi bi-globe"></i></a>
            </div>
            <hr>
            <div class="col-12">
                <p class="copyright-text">
                    Copyright &copy;
                    {{currentYear}}
                    All rights reserved | Joshua T J
                </p>
            </div>
        </div>
    </div>
</footer>