<section class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="about-text-area">
                    <div class="about-header">
                        <h4 class="cormorant-garamond-bold section-header">About</h4>
                        <h6 class="cormorant-garamond-semibold">Dreaming of the perfect event? </h6>
                    </div>
                    <div class="about-text">
                        <p class="montserrat-regular">We are SG Pro Events, where we believe that every moment is worth celebrating and capturing. Founded with a passion for excellence and a keen eye for detail, we specialize in providing top-tier event management and photography services that transform your vision into reality.</p>
                    </div>
                    <a routerLink="about" fragment="About"><button class="book-now-btn light-bg">Read More </button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="/Images/about-us.jpg" alt="About Us Image">
                </div>
            </div>
        </div>
    </div>
</section>