<section class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="about-text-area">
                    <div class="about-header">
                        <h4 class="cormorant-garamond-bold section-header">About</h4>
                        <h6 class="cormorant-garamond-semibold">Dreaming of the perfect wedding? </h6>
                    </div>
                    <div class="about-text">
                        <p class="montserrat-regular">Welcome, my name is proin gravida nibh vel velit
                            auctor aliquet. Aenean sollicitudin, lorem
                            quis
                            bibendum auctor, nisi
                            elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris.
                            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    </div>
                    <button class="book-now-btn light-bg" routerLink="about">Read More </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="/Images/about-us.jpg" alt="About Us Image">
                </div>
            </div>
        </div>
    </div>
</section>