<section class="about page-container-section">
    <div class="container-fluid">
        <app-page-hero [title]="title" [description]="description" [className]="'about-hero'"></app-page-hero>
        <div class="about-details-section">
            <div class="about-image-container">
                <div class="about-image-text">
                    <h2 class="cormorant-garamond-regular">Focus on Trends...</h2>
                </div>
            </div>
            <div class="mission-text-container">
                <div class="text-area-inner">
                    <h4 class="cormorant-garamond-bold section-header">Our Mission</h4>
                    <p class="montserrat-regular">Our mission is to provide exceptional event management and
                        photography services that exceed our clients’ expectations. We are committed to delivering
                        top-tier services that transform your vision into reality and create memories that last a
                        lifetime.
                        <br>
                        We aspire to set new standards in the industry by continually pushing the boundaries of what
                        is possible in event planning. We envision a world where every event, no matter how big or small,
                        is celebrated with the utmost care and attention to detail.
                        Our goal is to create experiences that are not only memorable but
                        also deeply meaningful, leaving a lasting impact on everyone involved.
                        Our vision is fueled by our passion for capturing life's most precious moments and
                        turning them into timeless memories.
                        <br>We believe in the power of visual storytelling and the magic it
                        brings to every event. By staying ahead of the latest trends and technologies, we aim to deliver
                        exceptional service that exceeds our clients' expectations and brings their dreams to life.
                        <br><br>
                        Join us on this journey, and let us create memories that will last a lifetime.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>