<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <span class="sb-label">Close</span>
        <span class="hm-lines">
            <span class="hm-line line-1"></span>
            <span class="hm-line line-2"></span>
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <section class="side-menu-container p-3">
            <div id="media_image-6" class="widget-side sidearea widget_media_image">
                <a href="https://solene.qodeinteractive.com/">
                    <img width="96" height="91" src="Images/SG_Cursive.png"
                        class="image wp-image-2893  attachment-full size-full" alt="m" decoding="async" loading="lazy">
                </a>
            </div>

            <div id="text-10" class="widget-side sidearea widget_text">
                <div class="textwidget">
                    <p><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque purus, eleifend vel sollicitudin ut.</span></p>
                </div>
            </div>

            <div class="widget-side custom-font-widget">
                <h2 class="custom-font-holder cormorant-garamond-regular social-platform-font">
                    Instagram </h2>
            </div>
            <div class="widget-side custom-font-widget">
                <h2 class="custom-font-holder cormorant-garamond-regular-italic social-id-font">
                    &#64;My_wedding_day </h2>
            </div>
            <div id="eltdf_instagram_widget-8" class="widget-side sidearea widget_eltdf_instagram_widget"></div>

            <div class="widget-side custom-font-widget">
                <h2 class="custom-font-holder cormorant-garamond-regular social-platform-font">
                    Follow Us </h2>
            </div>

            <div class="widget-side social-icons-group-widget-side text-align-center">
                <!-- <a class="social-icon-widget-holder icon-has-hover" data-hover-color="#ffffff" style="font-size: 15px" href="https://www.facebook.com/QodeInteractive/" target="_blank">
                    <span class="social-icon-widget-side fab fa-facebook-f"></span> </a>
                <a class="social-icon-widget-holder icon-has-hover" data-hover-color="#ffffff" style="font-size: 15px" href="https://www.instagram.com/qodeinteractive/" target="_blank">
                    <span class="social-icon-widget-side fab fa-instagram"></span> </a>
                <a class="social-icon-widget-holder icon-has-hover" data-hover-color="#ffffff" style="font-size: 15px" href="https://twitter.com/QodeInteractive" target="_blank">
                    <span class="social-icon-widget-side fab fa-twitter"></span> </a>
                <a class="social-icon-widget-holder icon-has-hover" data-hover-color="#ffffff" style="font-size: 15px" href="https://www.youtube.com/QodeInteractiveVideos" target="_blank">
                    <span class="social-icon-widget-side fab fa-youtube"></span> </a> -->
                <app-social-icons></app-social-icons>
            </div>

            <div class="widget-side custom-font-widget">
                <h2 class="custom-font-holder social-id-font">
                    <a class="side-link cormorant-garamond-regular-italic" href="mailto:solene@qodeinteractive.com" target="_self"> Soleneqodeinteractive.com </a>
                </h2>
            </div>
        </section>
    </div>
</div>