<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="sg-offcanvas" aria-labelledby="sg-offcanvasLabel">
    <div class="offcanvas-header">
        <div class="offcanvas-close-btn" class="close-container" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="sb-label">Close</span>
            <div class="close-icon">
                <span class="cross-line top-left">
                </span><span class="cross-line top-right">
                </span><span class="cross-line bottom-left">
                </span><span class="cross-line bottom-right"></span>
            </div>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        </div>
    </div>
    <div class="offcanvas-body">
        <section class="side-menu-container">
            <div class="widget-side widget-side-top">
                <div id="media_image-6" class=" sidearea widget_media_image">
                    <a href="https://solene.qodeinteractive.com/">
                        <img width="96" height="91" src="Images/SG_Cursive.png"
                            class="image wp-image-2893  attachment-full size-full" alt="m" decoding="async" loading="lazy">
                    </a>
                </div>
                <div id="text-10" class="sidearea widget_text">
                    <div class="textwidget">
                        <p><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque purus, eleifend vel sollicitudin ut.</span></p>
                    </div>
                </div>
                <div class="sidearea instagram_widget">
                    <div class="custom-font-widget">
                        <h2 class="custom-font-holder cormorant-garamond-regular social-platform-font">
                            Instagram </h2>
                    </div>
                    <div class="custom-font-widget">
                        <h2 class="custom-font-holder cormorant-garamond-regular-italic social-id-font">
                            &#64;sgproevents </h2>
                    </div>
                </div>
            </div>

            <div class="widget-side widget-side-bottom">
                <div class="custom-font-widget">
                    <h2 class="custom-font-holder cormorant-garamond-regular social-platform-font">
                        Follow Us </h2>
                </div>
                <div class="social-icons-group-widget-side text-align-center">
                    <app-social-icons></app-social-icons>
                </div>
                <div class="custom-font-widget">
                    <h2 class="custom-font-holder social-id-font">
                        <a class="side-link cormorant-garamond-regular-italic" href="mailto:stgeorgemelodiesandmedia@gmail.com" target="_self">
                            stgeorgemelodiesandmedia&#64;gmail.com</a>
                    </h2>
                </div>
            </div>
        </section>
    </div>
</div>