<header class="container-fluid">
  <div class="row top">
    <div class="col-md-2 col-6">
      <a routerLink="" class="d-flex align-items-center">
        <img src="Images/SG LOGO.png" alt="" />
        <h4 class="title-text m-0">Pro Events</h4>
      </a>
    </div>

    <div class="col my-auto top-bar">
      <nav class="navbar navbar-expand-lg navbar-portfolio">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          style="outline: none; border: none">
          <span class="navbar-toggler-icon"></span>
          <!-- <span class="ham-icon"><i class="bi bi-list"></i></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto nav-sg">
            <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
            </li>
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink=""
                [class.active]="(activeFragment|async)==='home' || !(activeFragment|async)" fragment="home">HOME</a>
            </li> -->
            <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
            </li>
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="" [class.active]="(activeFragment|async)==='about'"
                fragment="about">ABOUT</a>
            </li> -->
            <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="services" routerLinkActive="active">SERVICES</a>
            </li>
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="" [class.active]="(activeFragment|async)==='services'"
                fragment="services">SERVICES</a>
            </li> -->
            <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="gallery" routerLinkActive="active">GALLERY</a>
            </li>
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="" [class.active]="(activeFragment|async)==='portfolio'"
                fragment="portfolio">PROTFOLIO</a>
            </li> -->
            <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
            </li>
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" routerLink="" [class.active]="(activeFragment|async)==='contact'"
                fragment="contact">CONTACT</a>
            </li> -->
            <!-- <li class="nav-item ms-auto nav-btns">
              <a class="nav-link" [routerLink]="currentRoute" [class.active]="(activeFragment|async)==='footer'"
                fragment="footer">FOLLOW</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
    <div class="d-none d-lg-block col-2 navbar-portfolio">
      <ul class="navbar-nav mx-auto nav-sg">
        <li class="nav-item ms-auto nav-btns">
          <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#sg-offcanvas"
            aria-controls="sg-offcanvas"><span>FOLLOW</span>
            <div class="offcanvas-toggler">
              <span></span>
              <span></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main>
  <router-outlet />
</main>



<div id="footer">
  <app-footer></app-footer>
</div>

<div class="up-arrow" title="Go To Top" id="goto-top" (click)="scrollToTop()" matTooltip="Go to Top">
  <a id="progress-value"><i class="bi bi-arrow-up"></i> </a>
</div>
<app-offcanvas></app-offcanvas>