<div id="home">
    <app-home></app-home>
</div>
<div id="about">
    <app-about-us></app-about-us>
</div>
<div id="services">
    <app-services></app-services>
</div>
<div id="specialities">
    <app-specialities></app-specialities>
</div>
<div id="portfolio">
    <app-portfolio></app-portfolio>
</div>

<div class="sg-content-bottom">
    <div class="widget sg-custom-font-widget">
        <h2 class="sg-custom-font-holder cormorant-garamond-regular">
            Follow Us on Instagram </h2>
    </div>
    <div class="widget sg-custom-font-widget">
        <h3 class="sg-custom-font-holder cormorant-garamond-regular-italic"> &commat;sgproevents</h3>
    </div>
    <div class="widget widget_sg_instagram_widget"></div>
</div>