<section class="portfolio">
    <div class="container-fluid">
        <div class="portfolio-container">
            @if (Images && Images.length >0) {
            <div class="card">
                <!-- autoplayInterval="4000" -->
                <p-carousel [value]="Images" [numVisible]="4" [numScroll]="2" [circular]="true"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-image #item>
                        <div class="image-container">
                            <div class="image-overlay-wrapper"></div>
                            <div class="relative image-item" [lightbox]="image.data?.args"
                                id="gallery-{{image.data?.args}}"
                                [gallery]="galleryId">
                                <img [src]="image.data?.thumb" />
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            }
        </div>
    </div>
</section>
<!-- <section class="portfolio">
    <div class="container-fluid">
        <div class="portfolio-container">
            @if (Images.length>0) {
            <div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (group of slides; track $index;let f=$first;let groupIndex=$index) {
                    <div class="carousel-item" [ngClass]="{'active': f}">
                        <div class="d-flex">
                            @for (item of Images | slice: group * cardPerPage - cardPerPage: group * cardPerPage; track $index; let i = $index) {
                            @let index = groupIndex * cardPerPage + i;
                            <div class="slide"
                                [lightbox]="index"
                                id="gallery-{{index}}"
                                [gallery]="galleryId">
                                <img [src]="item.data?.thumb " />
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <button class="carousel-control-prev" type="button" data-bs-target="#portfolioCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#portfolioCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</section> -->