:root {
  --bg-body: rgb(244, 240, 237);
  --bg-body-800: rgba(236, 244, 255, 0.808);
  --carosel-txt-area-bg: #ffe8e59a;
  --background-gradient: linear-gradient(145deg, #dcdcdc, #ffffff);
  --shadow: 5px 5px 15px #cfcfcf, -5px -5px 15px #ffffff;
  --input-bg: #fff;
  --font-color-white: #e4e4e4;
  --font-color: #2b2b2b;
  --font-color-300: #393e3f;
  --font-color-700: #161616;
  --clr-white: #fff;
  --clr-off-white: #F4F0ED;
  --clr-light-grey: #F2F3F0;
  --clr-grey: #e9e9e9;
  --shadow-small: 2px 2px 10px #cfcfcf, -2px -2px 10px #ffffff;
  --popup-outer-bg: rgba(0, 0, 0, 0.541);
  --cards-hover-bg: linear-gradient(145deg, #dce5eb, #f0f0f0);
  --clr-primary-sg: #a02829;
  --clr-primary-medium-sg: #ed143d;
  --clr-primary-light-sg: #b43c3c;
  --clr-primary: rgb(117, 123, 102);
  --clr-primary-medium: rgb(132, 132, 124);
  --clr-primary-light: rgb(158, 160, 150);
  --clr-primary-dark: #4D504A;
  --clr-footer: rgb(244, 240, 237);
  --clr-error: #e9744b;
  --clr-success: #198754;
  --clr-border-dark: #d9dee2;
  --clr-border-dark-500: rgba(217, 222, 226, 0.5);
  --progress-box-shadow: inset 8px 8px 16px #c8c9ca,
    inset -8px -8px 16px #ffffff;
  --shadow-inwards-body: inset -6px 6px 12px #cfcfcf,
    inset 6px -6px 12px #ffffff;
  --shadow-inwards-small-body: inset -2px 2px 10px #cfcfcf,
    inset 2px -2px 10px #ffffff;
  --shadow-in-small-primary-light: inset -2px 2px 10px #707069,
    inset 2px -2px 10px #98988f;
}

[data-theme="dark"] {
  --bg-body: #202020;
  --bg-body-800: rgba(33, 36, 40, 0.8705882353);
  --background-color: linear-gradient(145deg, #1e2024, #23272b);
  --shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --input-bg: #191b1e;
  --font-color: #c4cfde;
  --font-color-700: rgba(196, 207, 222, 0.7);
  --shadow-small: 2px 2px 10px #1c1e22, -2px -2px 10px #262a2e;
  --popup-outer-bg: rgba(255, 255, 255, 0.411);
  --cards-hover-bg: linear-gradient(to right bottom, #212428, #16181c);
  --clr-primary: #a02829;
  --clr-footer: #191c20;
  --clr-border-dark: #17191c;
  --clr-border-dark-500: rgba(23, 25, 28, 0.5);
  --progress-box-shadow: inset 8px 8px 16px #181a1b,
    inset -8px -8px 16px #26292e;
  --shadow-inwards: inset -6px 6px 12px #1b1e21, inset 6px -6px 12px #272a2f;
}

$gallery-hero: "/Images/HeroImages/gallery-hero-img.jpg";
$services-hero: "/Images/HeroImages/services-hero-img.jpg";
$about-hero: "/Images/HeroImages/about-hero-img.jpg";
$contact-hero: "/Images/HeroImages/contact-hero-img.jpg";